%h1 Produtos

%p= link_to 'Novo Produto', new_admin_produto_url

= will_paginate @produtos

%table
  %thead
    %tr
      %th Nome
      %th Categoria
      %th Preço
  %tbody
    - @produtos.each do |produto|
      %tr
        %td= produto.nome
        %td
          - if produto.categoria
            = produto.categoria.nome
          - else
            == -
        %td= number_to_currency produto.preco
        %td= link_to 'Editor', edit_admin_produto_url( produto )

= will_paginate @produtos