%h1
  = t( 'formularios.criar_atualizar', :tipo => Produto.model_name.human )

= admin_form_for( @produto ) do |f|

  = f.text_field :nome
  = f.text_field :preco
  = f.select     :categoria_id, Categoria.all.map { |c| [c.nome, c.id] }, :include_blank => "Escolha..."
  = f.text_area  :descricao

  .actions
    %p= f.submit 'Enviar', :class => 'btn primary'
